# PostgreSQL Configuration
POSTGRES_USER=virtubuild
POSTGRES_PASSWORD=virtubuild123
POSTGRES_DB=virtubuild_db

# pgAdmin Configuration
PGADMIN_EMAIL=admin@virtubuild.com
PGADMIN_PASSWORD=admin123

# Application Ports
API_PORT=9000
FRONTEND_PORT=4200
