<app-dashboard-layout [appTitle]="'VirtuBuild'">
<app-page-shell title="Reset Password" subtitle="Choose a new password">
  <form (ngSubmit)="submit()" class="reset-form">
    <label>
      <span>New Password</span>
      <input [(ngModel)]="password" name="password" type="password" required />
    </label>
    <label>
      <span>Confirm Password</span>
      <input [(ngModel)]="confirm" name="confirm" type="password" required />
    </label>
    <button type="submit" class="btn btn-primary" [disabled]="!password || password !== confirm">Reset Password</button>
    <p *ngIf="done" class="info">If the token was valid, your password has been reset.</p>
  </form>
</app-page-shell>
</app-dashboard-layout>


