<div class="page-container">
  <div class="page-header">
    <div class="breadcrumbs">
      <span class="crumb">Home</span>
      <span class="sep">/</span>
      <span class="crumb">Dashboard</span>
    </div>
    <h1 class="title">{{ title }}</h1>
    <p class="subtitle" *ngIf="subtitle">{{ subtitle }}</p>
  </div>

  <div class="page-toolbar">
    <div class="left">
      
    </div>
    <div class="right">
      <button class="btn btn-secondary">Share</button>
      <button class="btn btn-primary">Export</button>
    </div>
  </div>

  <div class="page-content">
    <ng-content></ng-content>
  </div>
</div>


